@import url("https://use.typekit.net/mub4nsa.css");

body{
    margin: 0;
    padding: 0;
    font-family: bebas-kai;
    background: white;
}

.header{

    margin: 0;
    padding-left: 1em;
    
    padding-bottom: .1em;
    background: #EEC907;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    
    
}

.head{
    margin: .1em;
    padding-top: 1.3em;
    width: 60%;
    animation: logoIntro 1s forwards ease-out;
    opacity: 0;
}

.hero-section{
    position: absolute;
    margin: 0;
    padding: 0;
    display: grid;
}

.hero-img{
    display: flex;
    padding: 0em;
    margin: 0;
    padding-left: 0em;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    place-items: center;
    animation: introLoad 2s forwards ease-out;
    opacity: 0;
}

.hero-desktop{
    display: none;
    animation: introLoad 2s forwards ease-out;
}

.wave-img{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 38.5em;
}



.desc-title{
    
    position: absolute;
    align-items: center;
    text-align: center;
    top: 58.5em;
    left: .5em;
    font-size: .8em;
    z-index: 10;
    display: grid;
    animation: textAnim 2s forwards ease-in-out;
    opacity: 0;
    padding: 2em;
    margin-top: -1em;
    
}

.desc-content-p{
    display: block;
    position: relative;
    font-size: 1em;
    place-items: center;
    
    
}

.extra-div{
    display: flex;
    position: relative;
    background: #C7FCFF;
    margin: 0;
    padding: 0;
    bottom: 0em;
    top: -1.5em;
    padding-top: -1em;
    padding-bottom: 2em;
    
    
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: auto;
    line-height: 6em;
    
}

.button-main{
    justify-content: center;
    margin: 1em;
    padding: .8em;
    align-items: center;
    justify-content: center;
    

    appearance: none;
    border: none;
    outline: none;
    display: inline-flex;

    background: #FFE600;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: .8em;
    font-family: Bebas-Kai;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: .5em;
    text-align: center;
    
    transition: 400ms;
    animation: revealButton 1.3s forwards ease-in-out;
    opacity: 0;
}

.button-main:hover{
    color: black;
    background: #C7E500;
    cursor: pointer;
    font-size: large;
    margin-top: 1em;
}

.button-div{
    padding: 0em;
}

.footer{
    margin: 0em;
    padding: 1em;
    padding-bottom: 5em;
    background: #5a5a5a;
    
    font-size: .8em;
    color: white;
    text-align: center;
    bottom: 100em;
    top: 20em;
    padding: 1em;
    padding-top: 1em;
    transform: translateY(-1.9em);
    z-index: -5;
    
}

.footer-text-te{
    padding: 1rem;
    top: 10em;
}

.footer-text-st{
    padding: .5rem;
    margin: 1em;
    padding-bottom: 3em;
}

.chevron{
    padding-left: 6px;
    animation: moveChev 1s alternate-reverse infinite;
    padding-right: 0;
    padding-bottom: 1px;
    margin: 0;
}

.footer-title{
    padding: 1em;
}

/*Animation*/

@keyframes introLoad{
    from{
        transform: translateY(-45px);
    }
    to{
        transform: translateY(3px);
        opacity: 1;
    }
}



@keyframes moveChev{
    from{
        transform: translateX(5px);
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes textAnim{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes logoIntro{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes revealButton{
    from{
        transform: translateX(-50px);
        font-weight: lighter;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
        font-weight: normal;
    }
}

/*Media Query Min*/

@media only screen and (min-width: 425px) {
    
    .hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-img{
        width: 80%;
        display: flex;
        
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        place-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    
    }

    .wave-img{
        margin-top: -5em;
    }
    .desc-title{
        padding-bottom: 0em;
        margin-top: -6em;
        padding: 1em;
    }
}

@media only screen and (min-width: 460px) {
    .wave-img{
        margin-top: -2em;
    }
    .desc-title{
        padding-bottom: 0em;
        margin-top: -3em;
        padding: 2.5em;
        
    }

    .button-div{
        transform: translateY(-2em);
    }


}


@media only screen and (min-width: 500px){
    .hero-img{
        display: none;
    }

    .hero-desktop{
        display: flex;
        width: 100%;
        margin-top: 1.5em;
    }

    .desc-bg-image{
        width: 100%;
    }

    .wave-img{
        margin-top: -20em;
    }

    .desc-title{
        margin-top: -25.5em;
    }

    

    .head{
        width: 45%;
        margin-top: -.25em;
    }

    .extra-div{
        margin: -0em;
        padding: -10em;
    }

    .button-div{
        transform: translateY(-2.5em);
    }
    
}

@media only screen and (min-width: 555px){
    .hero-desktop{
        width: 95%;
    }

    .button-div{
        transform: translateY(-4em);
    }

    .desc-title{
        padding: .75em;
        margin-top: -22.5em;
    }

    .head{
        width: 40%;
    }

    .wave-img{
        width: 100%;
    }
}

@media only screen and (min-width: 585px){
    .hero-desktop{
        width: 90%;
    }

    .desc-title{
        margin-top: -25.5em;
        padding: 3em;
    }

    .button-div{
        transform: translateY(-5em)
    }

    .extra-div{
        padding-bottom: 0;
        padding-top: 0px;
        margin: 0;
    }
}

@media only screen and (min-width: 620px){
    .hero-desktop{
        width: 85%;
    }

    .desc-title{
        margin-top: -24em;
    }

    .desc-content-p{
        font-size: larger;
        margin-top: -.01em;
    }

    .button-div{
        transform: translateY(-6em);
    }

    .head{
        width: 35%;
    }
}

@media only screen and (min-width: 660px){
    .wave-img{
        margin-top: -17.5em;

    }

    .desc-title{
        margin-top: -20em;
    }

    .footer-text-st{
        padding: 0;
        padding-left: 10em;
        padding-right: 10em;
    }

    .head{
        width: 30%;
    }

    .header{
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .button-main{
        font-size: 1.15em;
    }

    .button-main:hover{
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 720px){
    .desc-content-p{
        font-size: large;
        margin-top: 0.7em;
    }

    .hero-desktop{
        width: 82.5%;
    }
}

@media only screen and (min-width: 785px){
    .button-main{
        font-size: large;
    }

    .button-main:hover{
        font-size: 1.25em;
    }

    .wave-img{
        margin-top: -12.5em;
    }

    .desc-title{
        margin-top: -12.5em;
            
    }

    .button-div{
        transform: translateY(-7.5em);
    }

    .hero-desktop{
        width: 90%;
    }
}

@media only screen and (min-width: 835px){
    
    .title{
        font-size: xx-large;
    }

    .desc-title{
        padding: 5em;
    }

    .desc-content-p{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 900px){
    .hero-desktop{
        width: 90%;
        margin-top: 2em;
    }

    .desc-content-p{
        font-size: x-large;
    }

    .button-div{
        transform: translateY(-10em);
    }

    .button-main{
        font-size: 1.5em;
    }

    .button-main:hover{
        font-size: 1.75em;
    }

    .head{
        width: 27.5%;
        margin: .3em 0 .3em 0;
    }

    .wave-img{
        margin-top: -10em;
    }

    .footer{
        font-weight: 200;
    }

    .footer-text-st{
        font-size: 1.25em;
    }

    .footer-text-te{
        font-size: 1.25em;
    }

    .footer-title{
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 980px){
    .hero-desktop{
        width: 85%;
    }

    .desc-title{
        margin-top: -8em;
    }

    .head{
        width: 25.5%;
        margin: .2em 0 .2em 0;
    }

    
}

@media only screen and (min-width: 1045px){
    .hero-desktop{
        width: 90%;
    }

    .head{
        width: 27.5%;
    }

    .wave-img{
        margin-top: -5em;
    }

    .desc-title{
        margin-top: 2.5em;
    }

    .desc-content-p{
        font-size: 2em;
    }
}

@media only screen and (min-width: 1160px){
    .title{
        font-size: 3.5em;
    }

    .desc-content-p{
        font-size: 2em;
    }

    .button-main{
        font-size: 1.8em;
    }

    .button-main:hover{
        font-size: 2.1em;
    }

    .wave-img{
        margin-top: -2.5em;
    }

    .header{
        display: flex;
        align-items: center;
    }

    .head{
        width: 22.5%;
        margin: 1em 0 1em 0;
        padding: .1em 0 .1em 0;
        
    }

    .footer{
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 1260px){
    .hero-desktop{
        width: 90%;
    }

    .wave-img{
        margin-top: 2.5em;
    }

    .desc-title{
        margin-top: 12.5em;
    }

    .button-div{
        transform: translateY(-10em)
    }

    .desc-content-p{
        font-size: 2.25em;
    }

    .button-main{
        font-size: 1.75em;
    }

    .button-main:hover{
        font-size: 2em;
    }

    
}

@media only screen and (min-width: 1400px){
    .wave-img{
        margin-top: 7.5em;
    }

    .desc-title{
        margin-top: 22.5em;
    }

    .desc-content-p{
        font-size: 2.5em;
    }

    
    
}

@media only screen and (min-width: 1600px){
    .wave-img{
        margin-top: 10em;
    }

    .desc-title{
        margin-top: 30em;
    }

    .title{
        font-size: 5em;
    }

    .desc-content-p{
        font-size: 2.5em;
    }

    .button-main{
        font-size: 2em;

    }

    .button-main:hover{
        font-size: 1.25em;
    }

    .footer{
        font-size: 2.25em;
    }

    .footer-text-te{
        padding: 0;
        margin: 0;
    }

    .footer-text-st{
        padding: 0;
    }

    
}

@media only screen and (min-width: 1800px){
    .wave-img{
        margin-top: 20em;
    }

    .desc-title{
        margin-top: 55em;

    }

    .desc-content-p{
        font-size: 3em;
    }

    .title{
        font-size: 4em;
    }

    .button-main{
        font-size: 2.25em;
        border: 5px solid #000000;
    }

    .button-main:hover{
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 2000px){
    .button-div{
        transform: translateY(-20em);
    }

    .button-main{
        font-size: 2.25em;

    }

    .button-main:hover{
        font-size: 2.5em;
    }
}


/*Media Query Max*/

@media only screen and (max-width: 360px){
    .wave-img{
        margin-top: -3em;
    }

    .desc-title{
        margin-top: -5em;
        padding: 1em;
    }

    .button-div{
        transform: translateY(3em);
    }

    .extra-div{
        padding-bottom: 7.5em;
    }
}

@media only screen and (max-width: 360px){
    .wave-img{
        margin-top: -5.5em;
    }

    .desc-title{
        margin-top: -10em;
    }
}

@media only screen and (max-width: 390px){
    .button-div{
        transform: translateY(2em);
    }
}

@media only screen and (max-width: 320px){
    .button-div{
        transform: translateY(5em);
    }
}

